In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('IMDB Dataset.csv',sep=',',engine='python',quotechar='"',error_bad_lines=False)
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [3]:
df.shape

(50000, 2)

In [26]:
import re
REPLACE_NO_SPACE = re.compile("[.;:!\'?,\"()\[\]]")
REPLACE_WITH_SPACE = re.compile("(<br\s*/><br\s*/>)|(\-)|(\/)")
df['review_new'] = df['review'].apply(lambda x : REPLACE_NO_SPACE.sub("", x.lower()))
df['review_new'] = df['review_new'].apply(lambda x : REPLACE_WITH_SPACE.sub(" ", x))
df = df.drop(columns = 'review')
df['review']=df['review_new']
df = df.drop(columns = 'review_new')
df

      sentiment                                             review
0      positive  one of the other reviewers has mentioned that ...
1      positive  a wonderful little production  the filming tec...
2      positive  i thought this was a wonderful way to spend ti...
3      negative  basically theres a family where a little boy j...
4      positive  petter matteis love in the time of money is a ...
...         ...                                                ...
49995  positive  i thought this movie did a down right good job...
49996  negative  bad plot bad dialogue bad acting idiotic direc...
49997  negative  i am a catholic taught in parochial elementary...
49998  negative  im going to have to disagree with the previous...
49999  negative  no one expects the star trek movies to be high...

[50000 rows x 2 columns]

In [27]:
import nltk
from nltk.corpus import stopwords
stop=set(stopwords.words('english'))
stop

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [18]:
#removing stopwords from the dataset
df_s=df.copy()
#df_s.columns = ['review','sentiment']
df_s['review']=df_s['review'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
df_s

      sentiment                                             review
0      positive  one reviewers mentioned watching 1 oz episode ...
1      positive  wonderful little production filming technique ...
2      positive  thought wonderful way spend time hot summer we...
3      negative  basically theres family little boy jake thinks...
4      positive  petter matteis love time money visually stunni...
...         ...                                                ...
49995  positive  thought movie right good job wasnt creative or...
49996  negative  bad plot bad dialogue bad acting idiotic direc...
49997  negative  catholic taught parochial elementary schools n...
49998  negative  im going disagree previous comment side maltin...
49999  negative  one expects star trek movies high art fans exp...

[50000 rows x 2 columns]

In [28]:
df.groupby(by='sentiment',axis=0,sort=False).count()

           review
sentiment
positive    25000
negative    25000

In [29]:
pos=df[df['sentiment']=='positive']

In [30]:
pos.head()

  sentiment                                             review
0  positive  one of the other reviewers has mentioned that ...
1  positive  a wonderful little production  the filming tec...
2  positive  i thought this was a wonderful way to spend ti...
4  positive  petter matteis love in the time of money is a ...
5  positive  probably my all time favorite movie a story of...

In [33]:
pos.iloc[:,0]

0        positive
1        positive
2        positive
4        positive
5        positive
           ...
49983    positive
49985    positive
49989    positive
49992    positive
49995    positive
Name: sentiment, Length: 25000, dtype: object

In [23]:
neg=df[df['sentiment']=='negative']

In [24]:
neg.head()

   sentiment                                             review
3   negative  basically theres a family where a little boy j...
7   negative  this show was an amazing fresh & innovative id...
8   negative  encouraged by the positive comments about this...
10  negative  phil the alien is one of those quirky films wh...
11  negative  i saw this movie when i was about 12 when it c...

In [34]:
neg.iloc[0,0]

'negative'